.hero {
    background-color: #B2A3B5;
    background-size: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.hero-text {
    grid-column: 2/ 2;
    color: #070707;
    font-size: medium;
    text-align: left;
    margin-top: 20px;
    margin-left: 5px;
}

.hero-text h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.title {
    font-style: italic;
    font-size: large;
    text-align: left;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: cursive;
}

.profile-pic {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 100%;
    border-width: 5px;
    background-color: #aeaec7;
}

body {

    background-color: #FDFCED;
    font-family: cursive;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
}

body h2 {
    text-align: left;
    color: #4D3F50;
    background-color: #B2A3B5;
    padding-right: 2px;
}

h3 {

    font-style: oblique;
}

.contact-info {
    font-style: italic;
    margin-left: 0;
    padding-right: 80px;

}

footer {
    background-color: #B2A3B5;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

#contact {
    display: flex;
    flex-direction: row;
}

.contact-links {
    font-size: x-small;
    margin-top: 200px;
}

.contact-links img {
    max-width: 30px;
    height: auto;
}

.contact-form {
    border-left: 1px solid #0a0a0a;
    padding-left: 20px;
    max-width: 100%;
    padding-right: 50px;
}

#contact label {
    display: block;
    margin-bottom: 5px;
    margin: 3px;
}

#contact .input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#contact input[type="email"],
#contact textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact button[type="submit"] {
    display: block;
    max-width: 100%;
    margin: auto;
    padding: 10px;
    background-color: #4CAF50;
    font-size: large;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#contact button[type="submit"]:hover {

    background-color: #45a049;
}

.required {
    /*content: "*";*/
    color: red;
    font-size: 15px;
    margin-left: 0px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 400px) {
    .hero-text {
        font-size: x-small;
    }

    .title {
        font-size: x-small;
    }

    body {
        margin: 0 auto;
        font-size: 10px;
        padding: 5px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 401px) and (max-width: 798px) {
    .hero-text {
        font-size: small;


    }

    body {
        margin: 0 auto;
        font-size: 10px;
        padding: 10px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 799px) and (max-width:2000px) {
    .hero img {
        margin-left: 100px;
        max-width: 50%;
    }

    body {
        margin: 0 auto;
        font-size: 18px;
        padding: 20px;
    }
}